* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body {
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: url('bg.png') no-repeat center center/cover; /* background image */
    overflow:hidden;
    color:#fff;
}
.box-container {
  width: 800px;                  /* bigger box */
    max-width: 100%;                /* responsive */
    padding: 40px 30px;            /* more padding for bigger look */
    margin: auto;

    background: rgba(255,255,255,0.05);   /* semi-transparent glass */
    backdrop-filter: blur(15px);           /* blur behind */
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.2); /* subtle white border for mirror edges */
    box-shadow: 0 0 30px rgba(255,255,255,0.1), 0 0 50px rgba(0,0,0,0.5); /* soft glow + depth */

    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    color: #fff;

    position: relative;
    overflow: hidden;
}
/* Mirror black overlay */
body::before {
    content:"";
    position:absolute;
    top:0; left:0;
    width:100%; height:100%;
    background: rgba(0,0,0,0.8);
    z-index:0;}

/* Optional: shiny highlight (like reflection) */
.box-container::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 800%;
    height: 200%;
    background: linear-gradient(135deg, rgba(17, 16, 16, 0.1), rgba(255,255,255,0));
    transform: rotate(25deg);
    pointer-events: none;
    
}

/* Upload Section */
.upload-section {
    border:2px dashed #fff;
    border-radius:12px;
    padding:25px;
    cursor:pointer;
    transition: background 0.2s;
}

.upload-section:hover,
.upload-section.dragover {
    background: rgba(255,255,255,0.15);
}

.upload-section input[type="file"] {
    display:none;
}

/* Loader */
.loader {
    border:5px solid #f3f3f3;
    border-top:5px solid #1ccbe6;
    border-radius:50%;
    width:40px;
    height:40px;
    margin:10px auto;
    display:none;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

/* Result Section */
.result-section .score-circle {
    font-size:2em;
    font-weight:bold;
    margin:10px 0;
}

/* Buttons */
.box-container button {
    padding:10px 20px;
    margin:5px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    background: linear-gradient(135deg,#07abd4f4,#2a2c2ecd);
    color:white;
    font-weight:bold;
    transition:0.3s;
}


.box-container button:hover {
    transform:scale(1.05);
}

/* Responsive */
@media(max-width:450px){
    .box-container {width:90%; padding:20px;}
}
